header{
    // @include gradientBackground;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    ::after{
        content: '';
        position:absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: $primary-color ;
        opacity: 1;
        z-index: -1;
        
    }
    
    

    .container{

        
        
     
        z-index: 100;
        
       
        

        .hero_content{

    
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .left{

                display: flex;
                flex-direction: column;

                h1{
                    font-size: 3.5rem;
                    line-height: 1.2;
                    margin-bottom: 2rem;
                    font-weight: 400;
                    color: $white-color;
                    
                    
                    
                }
    
                p{
                    width: 60%;
                    margin-bottom: 2rem;
                    color: $white-color;
                    
                   
                }
    
                button{
                    padding: .9rem 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    a{
                        color: $white-color;
                    }
                        
                }

               
            }

            .right{
                width: 100%;
            }
            


        }

        .hero_image{
            img{
                width: 250%;
                height: 100%;
            }
        }

    
    }
}

//================= MEDIA QUERIES (SMALL DEVICES) ==================

@media screen and(max-width:1800px) {

    header{
        // @include gradientBackground;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        overflow: hidden;
        ::after{
            content: '';
            position:absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: $primary-color ;
            opacity: 1;
            z-index: -1;
            
        }
        
        
    
        .container{
            
            width: 90%;
          
        
            .hero_content{

                width: 100%;
                z-index: 100;

                .left{

                h1{
                   
                    font-size: 2.8rem;
                    line-height: 1.2;
                    margin-bottom: 2rem;
                    font-weight: 400;
                    color: $white-color;
                    
                    
                    
                    
                }
    
                p{
                    
                    color: $white-color;
                    margin-bottom: 2rem;
                    width: 70%;
                   
                }
    
                button{
                    padding: .9rem 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;

                    a{
                        color: $white-color;
                    }
                   
                }

                }


                .right{
                    width: 150%;
                }

    
            }

            
    
           
    
        
        }
    }
    


}
@media screen and(max-width:1400px) {

    header{
        // @include gradientBackground;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        overflow: hidden;
        ::after{
            content: '';
            position:absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: $primary-color ;
            opacity: 1;
            z-index: -1;
            
        }
        
        
    
        .container{
            
            width: 90%;
          
        
            .hero_content{

                width: 100%;
                z-index: 100;

                .left{

                h1{
                   
                    font-size: 2.8rem;
                    line-height: 1.2;
                    margin-bottom: 2rem;
                    font-weight: 400;
                    color: $white-color;
                    
                    
                    
                    
                }
    
                p{
                    
                    color: $white-color;
                    margin-bottom: 2rem;
                    width: 70%;
                   
                }
    
                button{
                    padding: .9rem 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: max-content;

                    a{
                        color: $white-color;
                    }
                   
                }
                }


                .right{
                    width: 150%;
                }

    
            }

            
    
           
    
        
        }
    }
    


}
@media screen and(max-width:1240px) {

    header{
        // @include gradientBackground;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        overflow: hidden;
        ::after{
            content: '';
            position:absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: $primary-color ;
            opacity: 1;
            z-index: -1;
            
        }
        
        
    
        .container{
            
          
        
            .hero_content{

                flex-direction: column-reverse;
                z-index: 100;



                .left{

                    h1{
                   
                        font-size: 2.8rem;
                        line-height: 1.2;
                        margin-bottom: 2rem;
                        font-weight: 400;
                        color: $white-color;
                        
                        
                        
                        
                    }
        
                    p{
                        width: 70%;
                        color: $white-color;
                        margin-bottom: 2rem;
                       
                    }
        
                    button{
                        padding: .9rem 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: max-content;

                        a{
                            color: $white-color;
                        }
                       
                    }

                }

                .right{
                    width: 90%;
                }

         
    
            }
    
           
    
        
        }
    }
    


}

//================= MEDIA QUERIES (MEDIUM DEVICES) ==================
@media screen and(max-width:1024px) {
    header{
       
        .container{

           
            .hero_content{

                width: 90%;


                .left{

                    display: flex;
                    flex-direction: column;
                    
    
                    h1{
                        font-size: 1.8rem;
                        line-height: 1.2;
                        margin-bottom: 1rem;
                        font-weight: 400;
                        color: $white-color;
                        
                        
                        
                        
                    }
        
                    p{
                        width: 90%;
                        color: $white-color;
                        margin-bottom: 1.3rem;
                       
                    }
        
                    button{
                        padding: .9rem 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: max-content;
                       
                    }
        
                   }
    
                   .right{
                    max-width: 100%;
                   }
            }
        }
    }

}

//================= MEDIA QUERIES (MEDIUM DEVICES) ==================

@media screen and(max-width:600px) {

    header{
        // @include gradientBackground;
        height: 100vh;
        display: grid;
        place-items: center;
        overflow: hidden;
        background: url(images/hero.svg) no-repeat center center/cover;
        ::after{
            content: '';
            position:absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: $primary-color ;
            opacity: .3;
            z-index: -1;
            
        }
        
        
    
        .container{
            
            display: grid;
            grid-template-columns: 1fr;
            place-items: center;
            align-items: center;
            justify-content: center;
            z-index: 100;
            
           
            
    
            .hero_content{

                width: 90%;

               .left{

                display: flex;
                flex-direction: column;
                

                h1{
                    font-size: 1.8rem;
                    line-height: 1.2;
                    margin-bottom: 1rem;
                    font-weight: 400;
                    color: $white-color;
                    text-align: center;
                    
                    
                    
                }
    
                p{
                    width: 90%;
                    color: $white-color;
                    text-align: center;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                   
                }
    
                button{
                    padding: .9rem 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                   
                }
    
               }

               .right{
                max-width: 100%;
               }
            }
    
    
        
        }
    }
    


}